## HOUSE PRICE PREDICTION

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import pickle

In [18]:
df = pd.read_csv(r"C:\Users\rupes\Downloads\internship class\house_price_decision_tree.csv")
df

    house_size_sqft  bedrooms  age_years  price_lakhs
0               450         1         25         38.5
1               500         1         22         42.0
2               550         1         20         45.2
3               600         2         18         50.1
4               650         2         17         53.0
..              ...       ...        ...          ...
86             4750         5          1        348.0
87             4800         5          1        351.6
88             4850         5          1        355.2
89             4900         5          1        358.8
90             4950         5          1        362.5

[91 rows x 4 columns]

In [19]:
df.head()

   house_size_sqft  bedrooms  age_years  price_lakhs
0              450         1         25         38.5
1              500         1         22         42.0
2              550         1         20         45.2
3              600         2         18         50.1
4              650         2         17         53.0

In [20]:
df.shape

(91, 4)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   house_size_sqft  91 non-null     int64
 1   bedrooms         91 non-null     int64
 2   age_years        91 non-null     int64
 3   price_lakhs      91 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 3.0 KB

In [22]:
df.isnull().sum()

house_size_sqft    0
bedrooms           0
age_years          0
price_lakhs        0
dtype: int64

In [23]:
df.duplicated().sum()

0

In [24]:
df.drop_duplicates(inplace=True)

In [25]:
plt.scatter(df['Area'], df['Price'])
plt.xlabel("Area (sqft)")
plt.ylabel("price")
plt.show()

KeyError: 'Area'

In [ ]:
x = df[['Area', 'Bedrooms', 'Bathrooms','Floors','Parking','Age']]
y = df['Price']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2,random_state=42)

In [ ]:
lr = LinearRegression()
lr.fit(x_train, y_train)

In [ ]:
y_train_pred = lr.predict(x_train)
y_test_pred = lr.predict(x_test)

In [ ]:
print("Train R2:", r2_score(y_train, y_train_pred))
print("Test R2:", r2_score(y_test, y_test_pred))

In [ ]:
mae = mean_absolute_error(y_test, y_test_pred)
mse = mean_squared_error(y_test, y_test_pred)
rmse = np.sqrt(mse)
print("MAE :", mae)
print("MSE :", mse)
print("RMSE:", rmse)

In [ ]:
ridge = Ridge(alpha=1.0)
ridge.fit(x_train, y_train)
ridge_pred = ridge.predict(x_test)
print("Ridge R2;", r2_score(y_test, ridge_pred))

In [ ]:
x_train.shape

In [ ]:
lasso = Lasso(alpha=0.1)
lasso.fit(x_train, y_train)
lasso_pred = lasso.predict(x_test)
print("Lasso R2:", r2_score(y_test, lasso_pred))

In [ ]:
models = {
    "Linear": r2_score(y_test, y_test_pred),
    "Ridge": r2_score(y_test, ridge_pred),
    "Lasso": r2_score(y_test, lasso_pred)
}
models

In [ ]:
plt.scatter(y_test, y_test_pred)
plt.xlabel("Actual price")
plt.ylabel("Predicted price")
plt.title("Actual vs Predicted")
plt.show()

In [ ]:
with open("model.pkl", "wb")as file:
    pickle.dump(ridge, file)
print("Model Saved Successfully")