In [25]:
import pandas as pd
temp_df= pd.DataFrame({
    "city":["Hyderabad","Vijayawada","Vizag","Anakapalli"],
    "temperature":[45,55,35,25]
})
temp_df

         city  temperature
0   Hyderabad           45
1  Vijayawada           55
2       Vizag           35
3  Anakapalli           25

In [26]:
temp_df.temperature.min()

25

In [27]:
temp_df.temperature.max()

55

In [28]:
temp_df.temperature.mean()

np.float64(40.0)

In [29]:
temp_df.temperature.std()

12.909944487358056

In [30]:
temp_df.temperature.var()

166.66666666666666

In [31]:
temp_df.temperature.count()

np.int64(4)

In [34]:
temp_df.temperature.sum()

np.int64(160)

In [35]:
temp_df.temperature.describe()

count     4.000000
mean     40.000000
std      12.909944
min      25.000000
25%      32.500000
50%      40.000000
75%      47.500000
max      55.000000
Name: temperature, dtype: float64